<head>
   <!--meta-->
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <meta name = "Description" content = "Site officiel de la marque ayton sport" >  
   <!--css-->
   <link rel="stylesheet" href="assets/styles/style.css" type="text/css">
   <link rel="stylesheet" href="assets/styles/modal_window.css">
   <!--favicon-->
   <link rel="icon" type="image/png" href="assets/img/logo_A_ayton_texte_blanc.png" />
   <title>{{ site.title }}</title>
</head>